.cfr-drilldown-id.__with-tools {
  margin-right: 2.5em;
}

.cfrplugin-tools {
  opacity: 0;
  transition: opacity 60ms;
  position: absolute;
  bottom: 0;
  right: -2.5em;
}

div:hover > .cfrplugin-tools {
  opacity: 1;
}

.cfrplugin-tools > .cfrplugin-tools-handle {
  box-sizing: content-box;
  text-indent: -999px;
  overflow: hidden;
  display: block;
  width: 1em;
  line-height: 1em;
  padding: 0.5em;
  position: relative;
  color: inherit;
  text-decoration: none;
  overflow: hidden;
}

.cfrplugin-tools > .cfrplugin-tools-handle::before {
  content: '|||';
  display: block;
  transform: rotate(90deg);
  position: absolute;
  text-indent: 0;
  height: 1em;
  width: 1em;
  text-align: center;
}

.cfrplugin-tools-dropdown {
  display: none;
  list-style: none;
  margin: 0 -200px 0 0;
  padding: 5px 0;
  position: absolute;
  background: white;
  border: 1px solid #aaa;
  z-index: 100;
}

.cfrplugin-tools:hover > .cfrplugin-tools-dropdown {
  display: block;
}

.cfrplugin-tools-dropdown > hr {
  margin: 5px 0;
  background: #aaa;
}

.cfrplugin-tools-dropdown > a,
.cfrplugin-tools-dropdown > a:link,
.cfrplugin-tools-dropdown > a:visited,
.cfrplugin-tools-dropdown > a:focus {
  display: block;
  padding: 0 9px;
  transition: opacity 60ms;
  color: inherit;
  text-decoration: none;
  opacity: 0.7;
  cursor: pointer;
}

.cfrplugin-tools-dropdown > a:hover {
  text-decoration: none;
  opacity: 1;
  color: inherit;
}

.cfrplugin-tools-dropdown > a:active {
  color: black;
  text-shadow: 0 0 2px #eee;
}
